<main class="Content">

  <div class="Info">
    <h1 style="text-align: center">Kalaha - Board Game</h1>
  </div>

  <div class="GameContainer">
      <div class="players-one" >
        <div class="UI-Element Player1Score Player P1 Active">Player 1</div>
      </div>

    <div class="Spawner">
    </div>

    <div class="Board">
      <div class="Kalaha-left Pit">0</div>
      <div class="Pit P1 Valid">0</div>
      <div class="Pit P1 Valid">0</div>
      <div class="Pit P1 Valid">0</div>
      <div class="Pit P1 Valid">0</div>
      <div class="Pit P1 Valid">0</div>
      <div class="Pit P1 Valid">0</div>
      <div class="Kalaha-right Pit">0</div>
      <div class="Pit P2">0</div>
      <div class="Pit P2">0</div>
      <div class="Pit P2">0</div>
      <div class="Pit P2">0</div>
      <div class="Pit P2">0</div>
      <div class="Pit P2">0</div>
    </div>

    <div class="players-two">
      <div class="UI-Element Player2Score Player P2">Player 2</div>
    </div>

    <div class="Log">
    </div>

  </div>

</main>
